nav{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 50px;
}

@media (max-width:500px){
    nav ul li{
        flex-direction: column;
    }
}