<div id="cursos" class="row">
  <h1>Cursos</h1>
    <!-- <ul *ngFor="let curso of cursosList">
      <h6>{{curso.nombreCurso}}</h6>
      <p>{{curso.institucion}} <b>- {{curso.horas}} horas</b></p>
    </ul> -->


    <div>
      <form class="mostrar">
        <div class="form-group col-md-6">
          <label for="">Curso realizado:</label>
          <input type="text" class="form-control" id="" placeholder="Ingresa el nombre del curso">
              <div class="col-md-6">
                <label for="">Cantidad de horas:</label>
                <input type="number" class="form-control" id="" placeholder="Horas cursadas">
              </div>
          <label for="">Institucion:</label>
          <input type="text" class="form-control" id="" placeholder="Ingresa el nombre de la institucion">
          <button type="submit" class="btn btn-primary">Agregar curso</button>
        </div>
      </form>
      </div>

</div>