.formulario{
    width: 900px;
    height: auto;
    margin-top: 50px; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #DCEDC8;
    border: 2px solid #333;
    border-radius: 20px;
}

.btn{
    margin-top: 20px;
    margin-bottom: 20px;
}