<div class="formulario" *ngIf="perso"> 
    <form (ngSubmit)="onUpdate()" class="row" novalidate #f="ngForm" >
        <h1>Editar datos de la persona</h1>
        <div class="form-group col-md-3"></div>
        <div class="form-group col-md-6">
    <label for="">Nombre:</label>
    <input type="text" name="nombre" [(ngModel)]="perso.nombre" required class="form-control" id="" placeholder="Nombre">

    <label for="">Apellido:</label>
    <input type="text" name="apellido" [(ngModel)]="perso.apellido" required class="form-control" id="" placeholder="Apellido">

    <label for="">Titulo:</label>
    <input type="text" name="titulo" [(ngModel)]="perso.titulo" required class="form-control" id="" placeholder="Titulo">

    <label for="">Descripcion:</label>
    <input type="text" name="descripcion" [(ngModel)]="perso.descripcion" required class="form-control" id="" placeholder="Sobre mi">
        
    <label for="">Imagen:</label>
    <input type="text" name="imagen" [(ngModel)]="perso.img" required class="form-control" id="" placeholder="Nombre de la foto">

        
    <button type="submit" class="btn btn-primary">Editar persona</button>
    <button id="volver" routerLink="" class="btn btn-primary">Volver</button>
</div>
<div class="form-group col-md-3"></div>
    </form>
    </div>