.sobremi{
    height: auto;
    min-height: 400px;
    background-image: url(../../../assets/img/fondo.png);;
    background-size: cover;
}

h1{
    padding: 0;
}

.texto-sobremi{
    align-items: center;
    vertical-align: center;
    text-align: center;
    padding: 40px ;
    background-color: rgba(255, 255, 255, 0.5);
}

.col-md-5{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
}

.yo{
    width: 300px;
    border-radius: 50%;
}

.imgbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.presentacion{
    text-align: center;
    margin-top: 100px;
    margin-right: 650px;
}

.btn-primary{
    margin-top: 10px;
}