#skills{
    background-color: #F5F5F5;
    padding: 30px 30px;
    height: auto;
}

/* <!-- BOTON AGREGAR SKILL --> */
.add-skill{
    text-align: center;
    margin-bottom: 15px;
}


/* <!-- FORM AGREGAR SKILL --> */
.form-gropu{
    display: flex;
    justify-content: center;
    align-items: center;
}
label, button {
    margin-top: 10px;
}
.btn-danger{
    margin-top: 0px;
}

.skills{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/* <!-- SKILLS --> */


/*.skills{
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;*/
    /* justify-content: center;
    align-items: center; */
    /* width: 80%; 
}*/


/* 
@media (max-width: 768px){
    .espacio{
        margin-bottom: 80px;
    }
} */