#skills{
    background-color: #DCEDC8;
    padding: 30px 30px;
    height: auto;
}

/* <!-- BOTON AGREGAR SKILL --> */
.add-skill{
    text-align: center;
    margin-bottom: 15px;
}


/* <!-- FORM AGREGAR SKILL --> */
.form-gropu{
    display: flex;
    justify-content: center;
    align-items: center;
}
label, button {
    margin-top: 10px;
}
.btn-danger{
    margin-top: 0px;
}


/* <!-- SKILLS --> */


.skills{
    /* margin-left: auto;
    margin-right: auto;
    
    margin-top: 30px; */
    text-align: center;
    display: grid;
    place-items: center;
    /* justify-content: center;
    align-items: center; */
    /* width: 80%; */
}

.skill{
    justify-content: space-between;
}

/* 
@media (max-width: 768px){
    .espacio{
        margin-bottom: 80px;
    }
} */