<div id="skills" class="row">
<h1>Skills</h1>

<!-- BOTON AGREGAR SKILL -->
<div class="add-skill" *ngIf= "userLogged|async as user">
  <button
    type="submit"
    class="btn btn-primary btn-primary-edit"
    [textContent]="showAddSkill?'Cerrar':'Agregar nueva skill'"
    (click)="toggleAddSkill()">
  </button>
</div>

<!-- FORM AGREGAR SKILL -->
<div> 
  <form *ngIf="showAddSkill" (ngSubmit)="onCreate(f)" class="row" novalidate #f="ngForm" >
    <div class="form-group col-md-4"></div>
    <div class="form-group col-md-4">
      <label for="">Skill:</label>
      <input type="text" name="skill" [(ngModel)]="skill" required class="form-control" id="" placeholder="Ingresa la habilidad">
        <div class="row">
          <div class="col-md-6">
            <label for="">Porcentaje:</label>
            <input type="number" name="porcentaje" [(ngModel)]="porcentaje" required class="form-control" id="">
          </div>
          <div class="col-md-3">
            <label for="">Color:</label>
            <input type="color" name="porcentaje" [(ngModel)]="color" required class="form-control" id="color">
          </div>
        </div>
      <button type="submit" class="btn btn-primary">Agregar skill</button>
    </div>
    <div class="form-group col-md-4"></div>
  </form>
  </div>

<!-- SKILLS DE LA BASE DE DATOS -->

<div class="skills row">
  <div class="skill col-sm-6 col-md-4 col-lg-3 text-center" *ngFor="let skill of skills">

    <circle-progress
    [percent]=skill.porcentaje
    title={{skill.skill}}
    subtitle={{skill.porcentaje}}%
    ></circle-progress>
<br>
    <!-- BOTON BORRAR SKILL -->
    <button class="btn btn-danger" *ngIf= "userLogged|async as user"
    (click)="delete(skill.id)">
    <img class="logosbtn" src="../../../assets/img/borrar.png" alt=""></button>

  </div>

</div>

</div>


