*{
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: #111;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-family: 'Alegreya', serif;
    margin-bottom: 20px;
    font-size: 60px;
    text-shadow: 3px 3px #555;
    text-align: center;
    color: #EE4266;
}

.btn-primary-edit{
    border-radius: 50px;
}

.btn-primary-edit:hover{
    background-color: #F7E2E2;
    color: #333;
    border: #555 solid 1px;
    font-style: bold;
    box-shadow: 3px 3px #666;
    transition: all 200ms ease-in;
}


.logosbtn{
    width: 20px;
}