.boton{
    float: right;
    padding: 15px;
    text-decoration: none;
    background-color: #1A132F;
    border-radius: 25px;
    color: white;
}

.btn{
    margin-right: 20px;
}

.boton:hover{
    background-color: #f4f4f4de;
    color:  black;
    border: #555 solid 1px;
    font-style: bold;
    box-shadow: 3px 3px #666;
    transition: all 200ms ease-in;
}

.usuario-activo{
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.btn-danger{
    padding: 15px;
    border-radius: 25px;
}

.botones{
    margin-top: 30px;
    float: right;
}


